name: Publish

on:
  push:
    branches:
      - 'main'

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest    

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'
      - run: dotnet publish
      - uses: actions/upload-artifact@v4
        with:
          name: release
          path: bin/Release/net8.0/publish
